body {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 70px;
}

.button {
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 2px 2px gray;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.mainButton {
    background-color: #1bb76e;
    color: white;
}

.mainButton:hover {
    background-color: #1dd880;
}

.secondaryButton {
    background-color: #1b93b7;
    color: white;
}

.secondaryButton:hover {
    background-color: #12aad8;
}